################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ResolveServices/obj
/ResolveServices/bin/Debug/net5.0
/WebApplication/bin/Debug/net5.0
/WebApplication/obj
